/*
Falar mais sobre bordas


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*
    consegue colocar imagem na borda com border-image
    3. border-image: url('caminho-da-imagem') 30 round; / a imagem só fica nas bordas(ponta da borda)
    4. border-image-slice: 30; corta a imagem e a  estica sobre a borda e colocando fill, fica com a repetição da imagem dentro da borda

    nessa width seria só para largura do item!

    repeat, vario tipos de repeat para a imagem da borda

    border image outset 5px; / aumenta a borda para fora do elemento

    short hand
    border-image: url('caminho-da-imagem') 30 round outset 5px;


    agora ensina a colocar font
    
    
    */

    @font-face {
        font-family: 'MinhaFonte';
        src: local() url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    }

    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    * {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight 100;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
}

/*
Essa parte de font style é mais a normal, italic, oblique.


font-weight: só para engrossar a fonte, de 100 a 900

font variant é small caps e font variation settings é para fontes variáveis

font stretch é para esticar a fonte e só funciona em algumas fontes que tem essa opção

line height é para espaçamento entre linhas, letter spacing é para espaçamento entre letras e word spacing é para espaçamento entre palavras




*/