@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

/*

Fonte roboto no @import url
roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
}

* {
  margin: 0;
  padding: 0;  set para padrões gerais
  box-sizing: border-box;
}


*/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fb;
}

.content {
  padding: 1rem;
  background-color: #fff;
}

@media screen and (min-width: 992px) {
  .content {
    padding: 1rem;
    margin: 0 auto;
  }
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
  padding: 0.4rem 0.4rem;
  border-radius: 1rem;
  background-color: #1dcaa9;
}

.pokemon .name {
  color: white;
  margin: 0.2rem;
}
/*
foi tirado o tamanho de altura = height para as imagens grandes ficarem corretas no quadrado e usado display flex para flexionar os itens e ficarem mais flexiveis no mesmo e colum para infileirar para ficar mais similar a pokedex
*/
.pokemon .number {
  color: #158f7979;
  opacity: 0.85;
  text-align: right;
  font-size: 0.7rem;
}

.pokemon .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .details .types .type {
  background-color: #32d8bb;
  color: #fff;
  padding: 0.2rem 0.2rem;
  border-radius: 15px;
  margin: 0.1rem;
  font-size: 0.8rem;
  opacity: 0.9;
}

.pokemon .details {
  display: flex;
  align-items: center; /* 1 */
  justify-content: space-between;
  gap: 0.2rem; /* 2 */
}

.pokemon .details img {
  width: 70px; /* 3 */
  height: auto;
  margin-left: 0.2rem; /* 4 */
}

.pokemon {
  min-height: 150px; /* 5 */
}
