@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");


/*

Fonte roboto no @import url
roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
}

* {
  margin: 0;
  padding: 0;  set para padrões gerais
  box-sizing: border-box;
}


*/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.content {
  padding: 1rem;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemons li {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
  background-color: #1dcaa9;
  color: white;
  
}
/*
foi tirado o tamanho de altura = height para as imagens grandes ficarem corretas no quadrado e usado display flex para flexionar os itens e ficarem mais flexiveis no mesmo e colum para infileirar para ficar mais similar a pokedex
*/

.pokemons li img {
  border-style: none;
  max-width: 100%;
  height: 100px;
}