@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

/*
roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.content {
  padding: 1rem;
}

h1 {
  margin: 0;
}