@media screen and (min-width: 992px) {
  .content {
    padding: 1rem;
    margin: 1rem auto;
    height: auto;
    max-width: 992px;
    border-radius: 1rem;
  }

  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}