* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px 80px 0 80px;   
}

.logo {
    width: 70px;
}

.container-principal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.texto-principal {
    width: 400px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

p {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.texto-starbucks {
    color: #129961;
    font-weight: bold;
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0.788);
    padding: 3px;
    border-radius: 5px;
}

.texto-starbucks2 {
    color: #129961;
    font-weight: bold;
    font-size: 28px;
}


.btn-provar {
    background-color: #129961;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.btn-provar:hover {
    background-color: white;
    color: #129961;
    border: 2px solid #129961;
}


.imagem-principal {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}


.cafe-circle {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: 10px solid #129961; /* cor inicial: verde */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    transition: border-color 0.3s, background 0.3s;
    background: #129961; /* cor inicial preenchida */
}

.imagem-cafe {
    width: 350px;
    margin-top: 0;
}

.imagens-produtos {
    display: flex;
    justify-content: center;
}


.thumbnail {
    width: 70px;
    margin: 10px;
    margin-top: 60px; /* mais para baixo */
    cursor: pointer;
    border: 2px solid transparent;
    margin-bottom: 100px;
}

